* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

/*
 * -- BASE STYLES --
 * Most of these are inherited from Base, but I want to change a few.
 */
body {
  color: #fff;
  background: #132028;
  font-size: 1em;
}

#container {
  max-width:1000px;
  margin:0 auto;
  padding:0 1em;
}

.l-box {
  padding:0.5em 2em;
}

div.icon {
  text-align: center;
}

.icon i[class^="ion"] {
  color: #fff;
  font-size: 3em;
}

#backdrop {
  content: ' ';
  background-image: url('../img/backdrop.jpg');
  background-position: bottom center;
  position: fixed;
  top: 0;
  left: 0;
  min-height: 100%;
  min-width: 100%;
  z-index: -1;
}

/*
* Header styles
*
*/

header {
  height: 100vh;
  width: 100%;
  overflow: hidden;
  display: table;
}

header .header-box {
  text-align: center;
  display: table-cell;
  vertical-align: middle;
}

h1,
h2,
h3,
h4,
h5 {
  font-family: lato, sans-serif;
  font-weight: 300;
}

header .header-box h1 {
  margin: 0.25em 0;
  font-size: 4em;
}

header .header-box h2 {
  text-transform: uppercase;
  color: rgba(255,255,255,0.7);
  font-family: lato, sans-serif
}

header .header-box li {
  padding: 0 3em;
  display: inline-block;
}

header .header-box li:first-of-type {
  padding-left: 0;
}

header .header-box i[class^="ion"] {
  font-size:1.5em;
}

/*
 * Section styles
 *
 */

section, footer {
  padding:2em 0; 
}

section .title-bar {
  border-bottom: 1px solid rgba(255, 255, 255, 0.1);
  text-align: center;
  margin-bottom: 1em;
}


/*
 * About styles
 *
 */

section#about span {
  font-weight: 300;
  color: #12ade0;
}

section#about .item {
  padding:0.5em 0;
}

/*
 * Work styles
 *
 */


section#work .box {
  -webkit-transition: background-position 2s cubic-bezier(0, 1, 0, 1), border-color 500ms, background-color 500ms;
          transition: background-position 2s cubic-bezier(0, 1, 0, 1), border-color 500ms, background-color 500ms;
  background-attachment: fixed, scroll;
  background-size: 100vw 100vh, cover;
  background-position: center center, 0 0;
  background-image: -webkit-repeating-linear-gradient(135deg, rgba(255, 255, 255, 0) 8%, rgba(255, 255, 255, 0.075) 10%, rgba(255, 255, 255, 0.075) 14%, rgba(255, 255, 255, 0.15) 14%, rgba(255, 255, 255, 0.15) 15%, rgba(255, 255, 255, 0.075) 17%, rgba(255, 255, 255, 0) 30%, rgba(255, 255, 255, 0) 36%, rgba(255, 255, 255, 0.075) 40%, rgba(255, 255, 255, 0.15) 42%, rgba(255, 255, 255, 0) 43%, rgba(255, 255, 255, 0) 55%, rgba(255, 255, 255, 0.075) 60%, rgba(255, 255, 255, 0.075) 66%, rgba(255, 255, 255, 0.15) 66%, rgba(255, 255, 255, 0.075) 70%, rgba(255, 255, 255, 0) 75%, rgba(255, 255, 255, 0) 100%), -webkit-radial-gradient(ellipse farthest-corner, transparent, rgba(0, 0, 0, 0.2) 110%);
  background-image: repeating-linear-gradient(-45deg, rgba(255, 255, 255, 0) 8%, rgba(255, 255, 255, 0.075) 10%, rgba(255, 255, 255, 0.075) 14%, rgba(255, 255, 255, 0.15) 14%, rgba(255, 255, 255, 0.15) 15%, rgba(255, 255, 255, 0.075) 17%, rgba(255, 255, 255, 0) 30%, rgba(255, 255, 255, 0) 36%, rgba(255, 255, 255, 0.075) 40%, rgba(255, 255, 255, 0.15) 42%, rgba(255, 255, 255, 0) 43%, rgba(255, 255, 255, 0) 55%, rgba(255, 255, 255, 0.075) 60%, rgba(255, 255, 255, 0.075) 66%, rgba(255, 255, 255, 0.15) 66%, rgba(255, 255, 255, 0.075) 70%, rgba(255, 255, 255, 0) 75%, rgba(255, 255, 255, 0) 100%), radial-gradient(ellipse farthest-corner, transparent, rgba(0, 0, 0, 0.2) 110%);
  height: 150px;
}

section#work .box:hover {
  background-position: -100vw 0, 0 0;
}

section#work .l-box {
  padding: 1em;
}

/*
 * Skills styles
 *
 */

/*
 * Footer styles
 *
 */

footer {
  color: rgba(255,255,255,0.5);
}

footer #container {
  border-top: 1px solid rgba(255,255,255,0.1);
}

footer .l-box {
  padding: 2em;
}

footer span {
  float: right;
  display: inline-block;
}

/*
 * Media Queries
 *
 */

@media screen and (max-width:48em) {
 
    
}