* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

/*
 * -- BASE STYLES --
 * Most of these are inherited from Base, but I want to change a few.
 */
body {
  color: #fff;
  background: #132028;
  font-size: 1em;
}

#container {
  max-width:1000px;
  margin:0 auto;
  padding:0 1em;
}

.l-box {
  padding:0.5em 2em;
}

div.icon {
  text-align: center;
}

.icon i[class^="ion"] {
  color: #fff;
  font-size: 3em;
}

#backdrop {
  content: ' ';
  background-image: url('../img/backdrop.jpg');
  background-position: bottom center;
  position: fixed;
  top: 0;
  left: 0;
  min-height: 100%;
  min-width: 100%;
  z-index: -1;
}

.sizer {
  display:inline-block;
  vertical-align: middle;
  height:100%;
  width:0;
}


/*
* Header styles
*
*/

header {
  height: 100vh;
  width: 100%;
  overflow: hidden;
  display: table;
  text-shadow: 0.1em 0.1em 0 rgba(0,0,0,0.5);
}

header .header-box {
  text-align: center;
  display: table-cell;
  vertical-align: middle;
}

h1,
h2,
h3,
h4,
h5 {
  font-family: lato, sans-serif;
  font-weight: 300;
}

header h1 {
  margin: 0;
  font-size: 4em;
}

header h3 {
  margin-bottom:0;
  font-weight:500;
  text-transform: uppercase;
  letter-spacing: 0.2em
}

header ul {
  padding: 0;
  margin-top: 0;
}

header li {
  padding: 0.5em 3em;
  display: inline-block;
}

header li:hover {
  background-color: rgba(255,255,255,0.1);
}

header i[class^="ion"] {
  font-size:1.5em;
}

/*
 * Section styles
 *
 */

section, footer {
  padding:2em 0; 
}

section .title-bar {
  border-bottom: 1px solid rgba(255, 255, 255, 0.1);
  text-align: center;
  margin-bottom: 1em;
}

section .title-bar h2 {
  margin-top: 0;
}


/*
 * About styles
 *
 */

section#about .h {
  font-weight: 300;
  color: #12ade0;
  padding-bottom: 0.5em;
}

section#about .item {
  padding:1em 0;
}

/*
 * Work styles
 *
 */

section#work .overlay {
  -webkit-transition: background-position 2s cubic-bezier(0, 1, 0, 1), border-color 500ms, background-color 500ms;
          transition: background-position 2s cubic-bezier(0, 1, 0, 1), border-color 500ms, background-color 500ms;
  background-attachment: fixed, scroll;
  background-size: 100vw 100vh, cover;
  background-position: center center, 0 0;
  background-image: -webkit-repeating-linear-gradient(135deg, rgba(255, 255, 255, 0) 8%, rgba(255, 255, 255, 0.075) 10%, rgba(255, 255, 255, 0.075) 14%, rgba(255, 255, 255, 0.15) 14%, rgba(255, 255, 255, 0.15) 15%, rgba(255, 255, 255, 0.075) 17%, rgba(255, 255, 255, 0) 30%, rgba(255, 255, 255, 0) 36%, rgba(255, 255, 255, 0.075) 40%, rgba(255, 255, 255, 0.15) 42%, rgba(255, 255, 255, 0) 43%, rgba(255, 255, 255, 0) 55%, rgba(255, 255, 255, 0.075) 60%, rgba(255, 255, 255, 0.075) 66%, rgba(255, 255, 255, 0.15) 66%, rgba(255, 255, 255, 0.075) 70%, rgba(255, 255, 255, 0) 75%, rgba(255, 255, 255, 0) 100%), -webkit-radial-gradient(ellipse farthest-corner, transparent, rgba(0, 0, 0, 0.2) 110%);
  background-image: repeating-linear-gradient(-45deg, rgba(255, 255, 255, 0) 8%, rgba(255, 255, 255, 0.075) 10%, rgba(255, 255, 255, 0.075) 14%, rgba(255, 255, 255, 0.15) 14%, rgba(255, 255, 255, 0.15) 15%, rgba(255, 255, 255, 0.075) 17%, rgba(255, 255, 255, 0) 30%, rgba(255, 255, 255, 0) 36%, rgba(255, 255, 255, 0.075) 40%, rgba(255, 255, 255, 0.15) 42%, rgba(255, 255, 255, 0) 43%, rgba(255, 255, 255, 0) 55%, rgba(255, 255, 255, 0.075) 60%, rgba(255, 255, 255, 0.075) 66%, rgba(255, 255, 255, 0.15) 66%, rgba(255, 255, 255, 0.075) 70%, rgba(255, 255, 255, 0) 75%, rgba(255, 255, 255, 0) 100%), radial-gradient(ellipse farthest-corner, transparent, rgba(0, 0, 0, 0.2) 110%);
  padding: 1em;
}

section#work .overlay:hover {
  background-position: -100vw 0, 0 0;
}

section#work .l-box {
  padding: 1em;
}

section#work .work-box {
  text-align: center;
}

/*
 * Contact styles
 *
 */

 .pure-form input[type="text"], .pure-form input[type="password"], .pure-form input[type="email"], .pure-form input[type="url"], .pure-form input[type="date"], .pure-form input[type="month"], .pure-form input[type="time"], .pure-form input[type="datetime"], .pure-form input[type="datetime-local"], .pure-form input[type="week"], .pure-form input[type="number"], .pure-form input[type="search"], .pure-form input[type="tel"], .pure-form input[type="color"], .pure-form select, .pure-form textarea {
  color:#fff;
  background-color:rgba(0,0,0,0.25);
  box-shadow: none;
  border:0;
 }

.pure-button-primary, .pure-button-selected, a.pure-button-primary, a.pure-button-selected  {
  background-color:#12ADE0;
}
/*
 * Footer styles
 *
 */

footer {
  color: rgba(255,255,255,0.5);
}

footer #container {
  border-top: 1px solid rgba(255,255,255,0.1);
  border-bottom: 1px solid rgba(255,255,255,0.1);
}

footer .l-box {
  padding: 2em;
}

footer span {
  float: right;
  display: inline-block;
}

/*
 * Media Queries
 *
 */

@media screen and (max-width:48em) {
  header h3{
    font-size: 0.9em;
  }
  header h1 {
    font-size:3em;
  }
  header li {
    padding: 0 1.5em;
  }
  header ul {
    margin-top:1em;
  }
  section#work .overlay {
    background-image: none;
    background-color: rgba(0,0,0,0.25);
  }
}

@media screen and (max-width: 35.5em) {
  .l-box {
    padding: 0;
  }
}