body {
	margin: 0;
	padding: 0;
  color: #fff;
  background: url('../img/ep_naturalblack.png');
  font-size: 1em;
  font-family: 'Saira Condensed', sans-serif;
}

* {
	box-sizing: border-box;
}

a {
  text-decoration: none;
  color: inherit;
}

.header {
	font-size: 1.5em;
	padding: 0.5em 1em;
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	width: 100%;
}

.header .logo {

}

.header .menu {
	text-align: right;
	cursor: pointer;
}

.socials {
	position: fixed;
	top: 50%;
	right: 2em;
	transform: translate(50%,-50%) rotate(90deg);
}

.socials > div {
	display: inline-block;
	padding: 0 0.5em;
	color: rgba(255,255,255,0.5);
	transition: all 0.2s ease-in-out;
}
.socials > div:hover {
	color: #fff;
}